h1{
	text-align: center;
	font-size: 7em;
	color: blue;
	background-position: center;
}
h2{
	text-align: right;
	font-size: 3em;
}
html{
	background-color: lightgrey;
}
a{
	font-size: 2em;
}
p{
	text-align: center;
}




text-align: center;
	height: 500px;
	line-height: 600px;
	font-size: 9em;
	color: white;
	background-image: url(mercato1.jpg);
	background-position: center;
	background-size: auto;